# This file may be used to create an environment using:
# $ conda create --name <env> --file <this file>
# platform: osx-arm64
absl-py=2.1.0=pypi_0
anyio=4.4.0=pyhd8ed1ab_0
aom=3.9.1=h7bae524_0
appnope=0.1.4=pyhd8ed1ab_0
argon2-cffi=23.1.0=pyhd8ed1ab_0
argon2-cffi-bindings=21.2.0=py311h80987f9_0
arrow=1.3.0=pyhd8ed1ab_0
asttokens=2.4.1=pyhd8ed1ab_0
astunparse=1.6.3=pypi_0
async-lru=2.0.4=py311hca03da5_0
attrs=23.2.0=pyh71513ae_0
aws-c-auth=0.7.22=h8a62e84_10
aws-c-cal=0.7.1=h94d0942_1
aws-c-common=0.9.23=h99b78c6_0
aws-c-compression=0.2.18=h94d0942_7
aws-c-event-stream=0.4.2=hb74cd8f_15
aws-c-http=0.8.2=had1507a_6
aws-c-io=0.14.10=hcdb10ff_1
aws-c-mqtt=0.10.4=h856d8ab_8
aws-c-s3=0.6.0=ha9fd6de_2
aws-c-sdkutils=0.1.16=h94d0942_3
aws-checksums=0.1.18=h94d0942_7
aws-crt-cpp=0.27.3=h9d3339c_2
aws-sdk-cpp=1.11.329=he6360a2_9
azure-core-cpp=1.12.0=hd01fc5c_0
azure-identity-cpp=1.8.0=h0a11218_1
azure-storage-blobs-cpp=12.11.0=h77cc766_1
azure-storage-common-cpp=12.6.0=h7024f69_1
azure-storage-files-datalake-cpp=12.10.0=h64d02d0_1
babel=2.14.0=pyhd8ed1ab_0
beautifulsoup4=4.12.3=py311hca03da5_0
blas=1.0=openblas
bleach=6.1.0=pyhd8ed1ab_0
blinker=1.8.2=pypi_0
bokeh=3.5.0=pyhd8ed1ab_0
bottleneck=1.3.7=py311hb9f6ed7_0
brotli=1.1.0=hb547adb_1
brotli-bin=1.1.0=hb547adb_1
brotli-python=1.1.0=py311ha891d26_1
bzip2=1.0.8=h80987f9_6
c-ares=1.32.2=h99b78c6_0
ca-certificates=2024.7.4=hf0a4a13_0
cached-property=1.5.2=py_0
cached_property=1.5.2=pyha770c72_1
cairo=1.18.0=hb4a6bf7_3
certifi=2024.7.4=py311hca03da5_0
cffi=1.16.0=py311h80987f9_1
chardet=5.2.0=py311h267d04e_1
charset-normalizer=3.3.2=pyhd3eb1b0_0
click=8.1.7=py311hca03da5_0
cloudpickle=3.0.0=py311hca03da5_0
colorama=0.4.6=py311hca03da5_0
comm=0.2.2=pyhd8ed1ab_0
contourpy=1.2.1=py311hcc98501_0
cycler=0.12.1=pyhd8ed1ab_0
cytoolz=0.12.3=py311h05b510d_0
dash=2.17.1=pypi_0
dash-core-components=2.0.0=pypi_0
dash-html-components=2.0.0=pypi_0
dash-table=5.0.0=pypi_0
dask=2024.7.0=pyhd8ed1ab_0
dask-core=2024.7.0=pyhd8ed1ab_0
dask-expr=1.1.7=pyhd8ed1ab_0
dav1d=1.2.1=h80987f9_0
debugpy=1.8.2=py311hb9542d7_0
decorator=5.1.1=pyhd3eb1b0_0
defusedxml=0.7.1=pyhd3eb1b0_0
distributed=2024.7.0=pyhd8ed1ab_0
entrypoints=0.4=py311hca03da5_0
et_xmlfile=1.1.0=py311hca03da5_0
exceptiongroup=1.2.2=pyhd8ed1ab_0
executing=2.0.1=pyhd8ed1ab_0
expat=2.6.2=h313beb8_0
ezc3d=1.5.10=py311_python3_h48cdf0a_3
flask=3.0.3=pypi_0
flatbuffers=24.3.25=pypi_0
font-ttf-dejavu-sans-mono=2.37=hd3eb1b0_0
font-ttf-inconsolata=3.000=h77eed37_0
font-ttf-source-code-pro=2.038=h77eed37_0
font-ttf-ubuntu=0.83=h8b1ccd4_0
fontconfig=2.14.2=h82840c6_0
fonts-anaconda=1=h8fa9717_0
fonts-conda-ecosystem=1=hd3eb1b0_0
fonts-conda-forge=1=0
fonttools=4.53.1=py311hd3f4193_0
fqdn=1.5.1=pyhd8ed1ab_0
freetype=2.12.1=hadb7bae_2
fribidi=1.0.10=h1a28f6b_0
fsspec=2024.6.1=pyhff2d567_0
future=1.0.0=pypi_0
gast=0.6.0=pypi_0
gettext=0.22.5=h8fbad5d_2
gettext-tools=0.22.5=h8fbad5d_2
gflags=2.2.2=h313beb8_1
ghp-import=2.1.0=pypi_0
glog=0.7.1=heb240a5_0
gmp=6.3.0=h7bae524_2
gnutls=3.7.6=h653af08_2
google-pasta=0.2.0=pypi_0
graphite2=1.3.14=hc377ac9_1
griffe=0.48.0=pypi_0
grpcio=1.65.0=pypi_0
h11=0.14.0=py311hca03da5_0
h2=4.1.0=pyhd8ed1ab_0
h5py=3.11.0=pypi_0
harfbuzz=9.0.0=h997cde5_1
heapdict=1.0.1=pyhd3eb1b0_0
hpack=4.0.0=py_0
httpcore=1.0.5=pyhd8ed1ab_0
httpx=0.27.0=pyhd8ed1ab_0
hyperframe=6.0.1=pyhd3eb1b0_0
icu=75.1=hfee45f7_0
idna=3.7=py311hca03da5_0
importlib-metadata=8.0.0=pyha770c72_0
importlib_metadata=8.0.0=hd8ed1ab_0
importlib_resources=6.4.0=py311hca03da5_0
imufusion=1.2.5=pypi_0
ipdb=0.13.13=pypi_0
ipykernel=6.29.5=pyh57ce528_0
ipython=8.26.0=pyh707e725_0
ipython_genutils=0.2.0=pyhd3eb1b0_1
ipywidgets=8.1.3=pyhd8ed1ab_0
isoduration=20.11.0=pyhd8ed1ab_0
itsdangerous=2.2.0=pypi_0
jax=0.4.30=pypi_0
jaxlib=0.4.30=pypi_0
jedi=0.19.1=py311hca03da5_0
jinja2=3.1.4=py311hca03da5_0
json5=0.9.25=pyhd8ed1ab_0
jsonpointer=3.0.0=py311h267d04e_0
jsonschema=4.23.0=pyhd8ed1ab_0
jsonschema-specifications=2023.12.1=pyhd8ed1ab_0
jsonschema-with-format-nongpl=4.23.0=hd8ed1ab_0
jupyter=1.0.0=pyhd8ed1ab_10
jupyter-lsp=2.2.5=pyhd8ed1ab_0
jupyter_client=8.6.0=py311hca03da5_0
jupyter_console=6.6.3=py311hca03da5_0
jupyter_core=5.7.2=py311hca03da5_0
jupyter_events=0.10.0=py311hca03da5_0
jupyter_server=2.14.2=pyhd8ed1ab_0
jupyter_server_terminals=0.5.3=pyhd8ed1ab_0
jupyterlab=4.2.4=pyhd8ed1ab_0
jupyterlab_pygments=0.3.0=pyhd8ed1ab_1
jupyterlab_server=2.27.3=pyhd8ed1ab_0
jupyterlab_widgets=3.0.11=pyhd8ed1ab_0
keras=3.4.1=pypi_0
kiwisolver=1.4.5=py311he4fd1f5_1
krb5=1.21.3=h237132a_0
lame=3.100=h1a28f6b_0
lcms2=2.16=ha0e7c42_0
lerc=4.0.0=h9a09cb3_0
libabseil=20240116.2=cxx17_h313beb8_0
libarrow=17.0.0=h2a00445_0_cpu
libarrow-acero=17.0.0=h00cdb27_0_cpu
libarrow-dataset=17.0.0=h00cdb27_0_cpu
libarrow-substrait=17.0.0=hc68f6b8_0_cpu
libasprintf=0.22.5=h8fbad5d_2
libasprintf-devel=0.22.5=h8fbad5d_2
libass=0.17.3=hf20b609_0
libblas=3.9.0=17_osxarm64_openblas
libbrotlicommon=1.1.0=hb547adb_1
libbrotlidec=1.1.0=hb547adb_1
libbrotlienc=1.1.0=hb547adb_1
libcblas=3.9.0=17_osxarm64_openblas
libclang=18.1.1=pypi_0
libcrc32c=1.1.2=hc377ac9_0
libcurl=8.8.0=h7b6f9a7_1
libcxx=18.1.8=h167917d_0
libdeflate=1.20=h93a5062_0
libedit=3.1.20230828=h80987f9_0
libev=4.33=h1a28f6b_1
libevent=2.1.12=h02f6b3c_1
libexpat=2.6.2=hebf3989_0
libffi=3.4.4=hca03da5_1
libgettextpo=0.22.5=h8fbad5d_2
libgettextpo-devel=0.22.5=h8fbad5d_2
libgfortran=5.0.0=11_3_0_hca03da5_28
libgfortran5=11.3.0=h009349e_28
libglib=2.80.3=h59d46d9_1
libgoogle-cloud=2.26.0=hfe08963_0
libgoogle-cloud-storage=2.26.0=h1466eeb_0
libgrpc=1.62.2=h9c18a4f_0
libhwloc=2.11.1=default_h7685b71_1000
libiconv=1.17=h0d3ecfb_2
libidn2=2.3.7=h93a5062_0
libintl=0.22.5=h8fbad5d_2
libintl-devel=0.22.5=h8fbad5d_2
libjpeg-turbo=3.0.3=h80987f9_0
liblapack=3.9.0=17_osxarm64_openblas
libnghttp2=1.58.0=ha4dd798_1
libopenblas=0.3.23=openmp_hc731615_0
libopenvino=2024.2.0=h5c9529b_1
libopenvino-arm-cpu-plugin=2024.2.0=h5c9529b_1
libopenvino-auto-batch-plugin=2024.2.0=hcd65546_1
libopenvino-auto-plugin=2024.2.0=hcd65546_1
libopenvino-hetero-plugin=2024.2.0=h88cb26a_1
libopenvino-ir-frontend=2024.2.0=h88cb26a_1
libopenvino-onnx-frontend=2024.2.0=h32b5460_1
libopenvino-paddle-frontend=2024.2.0=h32b5460_1
libopenvino-pytorch-frontend=2024.2.0=h00cdb27_1
libopenvino-tensorflow-frontend=2024.2.0=h2741c3b_1
libopenvino-tensorflow-lite-frontend=2024.2.0=h00cdb27_1
libopus=1.3.1=h27ca646_1
libparquet=17.0.0=hcf52c46_0_cpu
libpng=1.6.43=h091b4b1_0
libprotobuf=4.25.3=hbfab5d5_0
libre2-11=2023.09.01=h7b2c953_2
libsodium=1.0.18=h1a28f6b_0
libsqlite=3.46.0=hfb93653_0
libssh2=1.11.0=h7a5bd25_0
libtasn1=4.19.0=h80987f9_0
libthrift=0.19.0=h026a170_1
libtiff=4.6.0=h07db509_3
libunistring=0.9.10=h1a28f6b_0
libutf8proc=2.8.0=h1a8c8d9_0
libvpx=1.14.1=h7bae524_0
libwebp-base=1.4.0=h93a5062_0
libxcb=1.16=hf2054a2_0
libxml2=2.12.7=h01dff8b_4
libzlib=1.3.1=hfb2fe0b_1
llvm-openmp=18.1.8=hde57baf_0
locket=1.0.0=py311hca03da5_0
lz4=4.3.3=py311hd44b8e9_0
lz4-c=1.9.4=h313beb8_1
markdown=3.6=pypi_0
markdown-it-py=2.2.0=py311hca03da5_1
markupsafe=2.1.5=py311h05b510d_0
matplotlib=3.8.4=py311hca03da5_0
matplotlib-base=3.8.4=py311h7aedaa7_0
matplotlib-inline=0.1.7=pyhd8ed1ab_0
mdurl=0.1.2=pyhd8ed1ab_0
mediapipe=0.10.14=pypi_0
mergedeep=1.3.4=pypi_0
mistune=3.0.2=pyhd8ed1ab_0
mkdocs=1.6.0=pypi_0
mkdocs-autorefs=1.0.1=pypi_0
mkdocs-get-deps=0.2.0=pypi_0
mkdocs-material=9.5.30=pypi_0
mkdocs-material-extensions=1.3.1=pypi_0
mkdocstrings=0.25.2=pypi_0
mkdocstrings-python=1.10.7=pypi_0
ml-dtypes=0.3.2=pypi_0
msgpack-python=1.0.8=py311h6bde47b_0
munkres=1.1.4=py_0
namex=0.0.8=pypi_0
nb_conda=2.2.1=unix_7
nb_conda_kernels=2.5.1=pyh707e725_2
nbclassic=1.1.0=py311hca03da5_0
nbclient=0.10.0=pyhd8ed1ab_0
nbconvert=7.16.4=hd8ed1ab_1
nbconvert-core=7.16.4=pyhd8ed1ab_1
nbconvert-pandoc=7.16.4=hd8ed1ab_1
nbformat=5.10.4=pyhd8ed1ab_0
ncurses=6.5=hb89a1cb_0
nest-asyncio=1.6.0=py311hca03da5_0
nettle=3.7.3=h84b5d62_1
notebook=6.5.4=py311hca03da5_0
notebook-shim=0.2.4=pyhd8ed1ab_0
numexpr=2.8.7=py311h6dc990b_0
numpy=1.26.4=py311he598dae_0
numpy-base=1.26.4=py311hfbfe69c_0
opencv-contrib-python=4.10.0.84=pypi_0
openh264=2.1.1=h98b2900_0
openjpeg=2.5.2=h9f1df11_0
openpyxl=3.1.5=py311h80987f9_0
openssl=3.3.1=hfb2fe0b_2
opt-einsum=3.3.0=pypi_0
optree=0.12.1=pypi_0
orc=2.0.1=h47ade37_1
overrides=7.7.0=pyhd8ed1ab_0
p11-kit=0.25.3=h451787b_0
packaging=24.1=py311hca03da5_0
paginate=0.5.6=pypi_0
pandas=2.2.2=py311h7aedaa7_0
pandoc=3.2.1=hce30654_0
pandocfilters=1.5.0=pyhd3eb1b0_0
parso=0.8.4=pyhd8ed1ab_0
partd=1.4.2=pyhd8ed1ab_0
pathspec=0.12.1=pypi_0
pcre2=10.44=h297a79d_0
pexpect=4.9.0=pyhd8ed1ab_0
pickleshare=0.7.5=pyhd3eb1b0_1003
pillow=10.4.0=py311hd7951ec_0
pip=24.2=pypi_0
pixman=0.43.4=hebf3989_0
pkgutil-resolve-name=1.3.10=py311hca03da5_1
platformdirs=4.2.2=pyhd8ed1ab_0
plotly=5.22.0=pypi_0
prometheus_client=0.20.0=pyhd8ed1ab_0
prompt-toolkit=3.0.47=pyha770c72_0
prompt_toolkit=3.0.47=hd8ed1ab_0
protobuf=4.25.3=pypi_0
psutil=6.0.0=py311hd3f4193_0
pthread-stubs=0.4=h27ca646_1001
ptyprocess=0.7.0=pyhd3eb1b0_2
pugixml=1.14=h13dd4ca_0
pure_eval=0.2.2=pyhd3eb1b0_0
pyarrow=17.0.0=py311h35c05fe_0
pyarrow-core=17.0.0=py311hf5072a7_0_cpu
pyarrow-hotfix=0.6=pyhd8ed1ab_0
pybind11-abi=5=hd3eb1b0_0
pycparser=2.22=pyhd8ed1ab_0
pyee=11.1.0=pypi_0
pyexiftool=0.5.6=pypi_0
pygments=2.18.0=pyhd8ed1ab_0
pymdown-extensions=10.8.1=pypi_0
pyobjc=10.3.1=pypi_0
pyobjc-core=10.3.1=py311h5f135c3_0
pyobjc-framework-accessibility=10.3.1=pypi_0
pyobjc-framework-accounts=10.3.1=pypi_0
pyobjc-framework-addressbook=10.3.1=pypi_0
pyobjc-framework-adservices=10.3.1=pypi_0
pyobjc-framework-adsupport=10.3.1=pypi_0
pyobjc-framework-applescriptkit=10.3.1=pypi_0
pyobjc-framework-applescriptobjc=10.3.1=pypi_0
pyobjc-framework-applicationservices=10.3.1=pypi_0
pyobjc-framework-apptrackingtransparency=10.3.1=pypi_0
pyobjc-framework-audiovideobridging=10.3.1=pypi_0
pyobjc-framework-authenticationservices=10.3.1=pypi_0
pyobjc-framework-automaticassessmentconfiguration=10.3.1=pypi_0
pyobjc-framework-automator=10.3.1=pypi_0
pyobjc-framework-avfoundation=10.3.1=pypi_0
pyobjc-framework-avkit=10.3.1=pypi_0
pyobjc-framework-avrouting=10.3.1=pypi_0
pyobjc-framework-backgroundassets=10.3.1=pypi_0
pyobjc-framework-browserenginekit=10.3.1=pypi_0
pyobjc-framework-businesschat=10.3.1=pypi_0
pyobjc-framework-calendarstore=10.3.1=pypi_0
pyobjc-framework-callkit=10.3.1=pypi_0
pyobjc-framework-cfnetwork=10.3.1=pypi_0
pyobjc-framework-cinematic=10.3.1=pypi_0
pyobjc-framework-classkit=10.3.1=pypi_0
pyobjc-framework-cloudkit=10.3.1=pypi_0
pyobjc-framework-cocoa=10.3.1=py311h5f135c3_0
pyobjc-framework-collaboration=10.3.1=pypi_0
pyobjc-framework-colorsync=10.3.1=pypi_0
pyobjc-framework-contacts=10.3.1=pypi_0
pyobjc-framework-contactsui=10.3.1=pypi_0
pyobjc-framework-coreaudio=10.3.1=pypi_0
pyobjc-framework-coreaudiokit=10.3.1=pypi_0
pyobjc-framework-corebluetooth=10.3.1=pypi_0
pyobjc-framework-coredata=10.3.1=pypi_0
pyobjc-framework-corehaptics=10.3.1=pypi_0
pyobjc-framework-corelocation=10.3.1=pypi_0
pyobjc-framework-coremedia=10.3.1=pypi_0
pyobjc-framework-coremediaio=10.3.1=pypi_0
pyobjc-framework-coremidi=10.3.1=pypi_0
pyobjc-framework-coreml=10.3.1=pypi_0
pyobjc-framework-coremotion=10.3.1=pypi_0
pyobjc-framework-coreservices=10.3.1=pypi_0
pyobjc-framework-corespotlight=10.3.1=pypi_0
pyobjc-framework-coretext=10.3.1=pypi_0
pyobjc-framework-corewlan=10.3.1=pypi_0
pyobjc-framework-cryptotokenkit=10.3.1=pypi_0
pyobjc-framework-datadetection=10.3.1=pypi_0
pyobjc-framework-devicecheck=10.3.1=pypi_0
pyobjc-framework-dictionaryservices=10.3.1=pypi_0
pyobjc-framework-discrecording=10.3.1=pypi_0
pyobjc-framework-discrecordingui=10.3.1=pypi_0
pyobjc-framework-diskarbitration=10.3.1=pypi_0
pyobjc-framework-dvdplayback=10.3.1=pypi_0
pyobjc-framework-eventkit=10.3.1=pypi_0
pyobjc-framework-exceptionhandling=10.3.1=pypi_0
pyobjc-framework-executionpolicy=10.3.1=pypi_0
pyobjc-framework-extensionkit=10.3.1=pypi_0
pyobjc-framework-externalaccessory=10.3.1=pypi_0
pyobjc-framework-fileprovider=10.3.1=pypi_0
pyobjc-framework-fileproviderui=10.3.1=pypi_0
pyobjc-framework-findersync=10.3.1=pypi_0
pyobjc-framework-fsevents=10.3.1=pypi_0
pyobjc-framework-gamecenter=10.3.1=pypi_0
pyobjc-framework-gamecontroller=10.3.1=pypi_0
pyobjc-framework-gamekit=10.3.1=pypi_0
pyobjc-framework-gameplaykit=10.3.1=pypi_0
pyobjc-framework-healthkit=10.3.1=pypi_0
pyobjc-framework-imagecapturecore=10.3.1=pypi_0
pyobjc-framework-inputmethodkit=10.3.1=pypi_0
pyobjc-framework-installerplugins=10.3.1=pypi_0
pyobjc-framework-instantmessage=10.3.1=pypi_0
pyobjc-framework-intents=10.3.1=pypi_0
pyobjc-framework-intentsui=10.3.1=pypi_0
pyobjc-framework-iobluetooth=10.3.1=pypi_0
pyobjc-framework-iobluetoothui=10.3.1=pypi_0
pyobjc-framework-iosurface=10.3.1=pypi_0
pyobjc-framework-ituneslibrary=10.3.1=pypi_0
pyobjc-framework-kernelmanagement=10.3.1=pypi_0
pyobjc-framework-latentsemanticmapping=10.3.1=pypi_0
pyobjc-framework-launchservices=10.3.1=pypi_0
pyobjc-framework-libdispatch=10.3.1=pypi_0
pyobjc-framework-libxpc=10.3.1=pypi_0
pyobjc-framework-linkpresentation=10.3.1=pypi_0
pyobjc-framework-localauthentication=10.3.1=pypi_0
pyobjc-framework-localauthenticationembeddedui=10.3.1=pypi_0
pyobjc-framework-mailkit=10.3.1=pypi_0
pyobjc-framework-mapkit=10.3.1=pypi_0
pyobjc-framework-mediaaccessibility=10.3.1=pypi_0
pyobjc-framework-medialibrary=10.3.1=pypi_0
pyobjc-framework-mediaplayer=10.3.1=pypi_0
pyobjc-framework-mediatoolbox=10.3.1=pypi_0
pyobjc-framework-metal=10.3.1=pypi_0
pyobjc-framework-metalfx=10.3.1=pypi_0
pyobjc-framework-metalkit=10.3.1=pypi_0
pyobjc-framework-metalperformanceshaders=10.3.1=pypi_0
pyobjc-framework-metalperformanceshadersgraph=10.3.1=pypi_0
pyobjc-framework-metrickit=10.3.1=pypi_0
pyobjc-framework-mlcompute=10.3.1=pypi_0
pyobjc-framework-modelio=10.3.1=pypi_0
pyobjc-framework-multipeerconnectivity=10.3.1=pypi_0
pyobjc-framework-naturallanguage=10.3.1=pypi_0
pyobjc-framework-netfs=10.3.1=pypi_0
pyobjc-framework-network=10.3.1=pypi_0
pyobjc-framework-networkextension=10.3.1=pypi_0
pyobjc-framework-notificationcenter=10.3.1=pypi_0
pyobjc-framework-opendirectory=10.3.1=pypi_0
pyobjc-framework-osakit=10.3.1=pypi_0
pyobjc-framework-oslog=10.3.1=pypi_0
pyobjc-framework-passkit=10.3.1=pypi_0
pyobjc-framework-pencilkit=10.3.1=pypi_0
pyobjc-framework-phase=10.3.1=pypi_0
pyobjc-framework-photos=10.3.1=pypi_0
pyobjc-framework-photosui=10.3.1=pypi_0
pyobjc-framework-preferencepanes=10.3.1=pypi_0
pyobjc-framework-pushkit=10.3.1=pypi_0
pyobjc-framework-quartz=10.3.1=pypi_0
pyobjc-framework-quicklookthumbnailing=10.3.1=pypi_0
pyobjc-framework-replaykit=10.3.1=pypi_0
pyobjc-framework-safariservices=10.3.1=pypi_0
pyobjc-framework-safetykit=10.3.1=pypi_0
pyobjc-framework-scenekit=10.3.1=pypi_0
pyobjc-framework-screencapturekit=10.3.1=pypi_0
pyobjc-framework-screensaver=10.3.1=pypi_0
pyobjc-framework-screentime=10.3.1=pypi_0
pyobjc-framework-scriptingbridge=10.3.1=pypi_0
pyobjc-framework-searchkit=10.3.1=pypi_0
pyobjc-framework-security=10.3.1=pypi_0
pyobjc-framework-securityfoundation=10.3.1=pypi_0
pyobjc-framework-securityinterface=10.3.1=pypi_0
pyobjc-framework-sensitivecontentanalysis=10.3.1=pypi_0
pyobjc-framework-servicemanagement=10.3.1=pypi_0
pyobjc-framework-sharedwithyou=10.3.1=pypi_0
pyobjc-framework-sharedwithyoucore=10.3.1=pypi_0
pyobjc-framework-shazamkit=10.3.1=pypi_0
pyobjc-framework-social=10.3.1=pypi_0
pyobjc-framework-soundanalysis=10.3.1=pypi_0
pyobjc-framework-speech=10.3.1=pypi_0
pyobjc-framework-spritekit=10.3.1=pypi_0
pyobjc-framework-storekit=10.3.1=pypi_0
pyobjc-framework-symbols=10.3.1=pypi_0
pyobjc-framework-syncservices=10.3.1=pypi_0
pyobjc-framework-systemconfiguration=10.3.1=pypi_0
pyobjc-framework-systemextensions=10.3.1=pypi_0
pyobjc-framework-threadnetwork=10.3.1=pypi_0
pyobjc-framework-uniformtypeidentifiers=10.3.1=pypi_0
pyobjc-framework-usernotifications=10.3.1=pypi_0
pyobjc-framework-usernotificationsui=10.3.1=pypi_0
pyobjc-framework-videosubscriberaccount=10.3.1=pypi_0
pyobjc-framework-videotoolbox=10.3.1=pypi_0
pyobjc-framework-virtualization=10.3.1=pypi_0
pyobjc-framework-vision=10.3.1=pypi_0
pyobjc-framework-webkit=10.3.1=pypi_0
pyparsing=3.0.9=py311hca03da5_0
pysocks=1.7.1=py311hca03da5_0
python=3.11.8=hdf0ec26_0_cpython
python-dateutil=2.9.0post0=py311hca03da5_2
python-fastjsonschema=2.20.0=pyhd8ed1ab_0
python-ffmpeg=2.0.12=pypi_0
python-json-logger=2.0.7=py311hca03da5_0
python-lmdb=1.4.1=py311h313beb8_0
python-tzdata=2024.1=pyhd8ed1ab_0
python_abi=3.11=4_cp311
pytz=2024.1=py311hca03da5_0
pyyaml=6.0.1=py311h80987f9_0
pyyaml-env-tag=0.1=pypi_0
pyzmq=25.1.2=py311h313beb8_0
qtconsole-base=5.5.2=pyha770c72_0
qtpy=2.4.1=py311hca03da5_0
re2=2023.09.01=h4cba328_2
readline=8.2=h1a28f6b_0
referencing=0.35.1=pyhd8ed1ab_0
regex=2024.7.24=pypi_0
requests=2.32.3=py311hca03da5_0
retrying=1.3.4=pypi_0
rfc3339-validator=0.1.4=py311hca03da5_0
rfc3986-validator=0.1.1=py311hca03da5_0
rich=13.7.1=py311hca03da5_0
rpds-py=0.19.0=py311h98c6a39_0
scipy=1.12.0=py311hc76d9b0_0
seaborn=0.13.2=py311hca03da5_0
send2trash=1.8.3=pyh31c8845_0
setuptools=71.0.1=pyhd8ed1ab_0
six=1.16.0=pyhd3eb1b0_1
snappy=1.2.1=hd02b534_0
sniffio=1.3.1=pyhd8ed1ab_0
sortedcontainers=2.4.0=pyhd3eb1b0_0
sounddevice=0.4.7=pypi_0
soupsieve=2.5=py311hca03da5_0
spm1d=0.4.32=pypi_0
stack_data=0.6.2=pyhd8ed1ab_0
svt-av1=2.1.2=h7bae524_0
tbb=2021.12.0=h420ef59_3
tblib=3.0.0=pyhd8ed1ab_0
tenacity=8.5.0=pypi_0
tensorboard=2.16.2=pypi_0
tensorboard-data-server=0.7.2=pypi_0
tensorflow=2.16.2=pypi_0
tensorflow-io-gcs-filesystem=0.37.1=pypi_0
tensorflow-macos=2.16.2=pypi_0
tensorflow-metal=1.1.0=pypi_0
termcolor=2.4.0=pypi_0
terminado=0.18.1=pyh31c8845_0
tinycss2=1.3.0=pyhd8ed1ab_0
tk=8.6.13=h5083fa2_1
tomli=2.0.1=py311hca03da5_0
toolz=0.12.1=pyhd8ed1ab_0
tornado=6.4.1=py311h80987f9_0
tqdm=4.66.4=py311hb6e6a13_0
traitlets=5.14.3=py311hca03da5_0
types-python-dateutil=2.9.0.20240316=pyhd8ed1ab_0
typing-extensions=4.12.2=hd8ed1ab_0
typing_extensions=4.12.2=pyha770c72_0
typing_utils=0.1.0=pyhd8ed1ab_0
tzdata=2024a=h04d1e81_0
uri-template=1.3.0=pyhd8ed1ab_0
urllib3=2.2.2=py311hca03da5_0
watchdog=4.0.1=pypi_0
wcwidth=0.2.13=pyhd8ed1ab_0
webcolors=24.6.0=pyhd8ed1ab_0
webencodings=0.5.1=py311hca03da5_1
websocket-client=1.8.0=py311hca03da5_0
werkzeug=3.0.3=pypi_0
wheel=0.43.0=py311hca03da5_0
widgetsnbextension=4.0.11=pyhd8ed1ab_0
wrapt=1.16.0=pypi_0
x264=1!161.3030=h3422bc3_1
x265=3.5=hbc6ce65_3
xlrd=2.0.1=pyhd3eb1b0_1
xorg-libxau=1.0.11=hb547adb_0
xorg-libxdmcp=1.1.3=h27ca646_0
xyzservices=2024.6.0=pyhd8ed1ab_0
xz=5.4.6=h80987f9_1
yaml=0.2.5=h1a28f6b_0
zeromq=4.3.5=h313beb8_0
zict=3.0.0=py311hca03da5_0
zipp=3.19.2=pyhd8ed1ab_0
zlib=1.3.1=hfb2fe0b_1
zstandard=0.23.0=py311h4a6b76e_0
zstd=1.5.6=hb46c0d2_0
